<web-app>

	<display-name>Club Members Database</display-name>

	<welcome-file-list>
		<welcome-file>index.web</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- JSF Servlet -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.web</url-pattern>
	</servlet-mapping>

	<!-- N.B. No security yet; coming soon! -->

</web-app>
